@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body {
    font-family: "Plus Jakarta Sans"
}

header img {
    width: 250px;
    height: 250px;
    padding: 0px;
}


header nav ul {
    list-style: none;
}

header {
    background: linear-gradient(215deg, #5455a2 0%, #000000 80%);
    background: -webkit-linear-gradient(215deg, #5455a2 0%, #000000 80%);
    background: -moz-linear-gradient(215deg, #5455a2 0%, #000000 80%);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul li {
    display: inline-block;

}

header nav ul li :hover {
    color: rgb(255, 0, 191);
}

header nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 12px;
    margin-bottom: 10px;
    font-size: large;
}

@media screen and (max-width: 360px) {

header nav ul {
        flex-direction: column;
        align-items: flex-end;
        padding-left: 0;
    }

header nav ul li {
        width: 100%;
    }

}

@media screen and (max-height: 720px) and (max-width: 360px) {
    header {
        padding: 10px;
        display: flex;
        justify-content: center;
        text-align: justify;
    }
}

.hero {
    background-image: url("../img/imagen\ blur.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}

.hero h1 {
    font-size: 40px;
    font-weight: 600;
    margin: 10px;
    padding: 10px;
}

.hero h2 {
    margin-top: 5px;
}

.hero p {
    font-size: 25px;
    color: white;
    font-weight: 500;
    margin: 10px;
}

@media screen and (max-height: 720px) and (max-width: 360px) {

    .hero {
        background-size: cover;
        background-position: center;
        text-align: center;
    }

    .hero h1 {
        font-size: 20px;
    }

    .hero h2 {
        font-size: 16px;
    }

    .hero p {
        font-size: 14px;
    }
}    

.servicios {
    text-align: center;
    background: linear-gradient(161deg, #5455a2 0%, #000000 80%);
    background: -webkit-linear-gradient(161deg, #5455a2 0%, #000000 80%);
    background: -moz-linear-gradient(161deg, #5455a2 0%, #000000 80%);

}

.servicios h1 {
    color: white;
}

.servicios p {
    color: white;
    margin-top: 20px;
}

.servicios1 h2 {
    color: white;
}

.servicios a {

    margin-top: 30px;
    padding: 0px;
    list-style: square;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-decoration: underline;
    font-size: x-large;
    font-weight: 500;
}

.servicios a:hover {
    color: rgb(255, 0, 191);
}

.servicios div img {
    width: 160px;
    height: 150px;
}

.servicios .tarjeta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.servicios .tarjeta div {
    border: 1px solid rgb(8, 8, 8);
    background-color: aliceblue;
    box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.75);
    text-align: center;
    width: 165px;
    height: 252px;
    margin: 5px;
    padding: 1px;
    margin-top: 40px;

}

@media screen and (max-height: 720px) and (max-width: 360px) {

 
    .servicios .tarjeta div {
        display: flex;
        justify-content: space-between;
        align-items: top;
        flex-wrap: wrap;
    }    
} 

.clientes {
    text-align: center;
    background: #5455a2;
    background: linear-gradient(161deg, #5455a2 0%, #000000 80%);
    background: -webkit-linear-gradient(161deg, #5455a2 0%, #000000 80%);
    background: -moz-linear-gradient(161deg, #5455a2 0%, #000000 80%);
    overflow: hidden;
}

.clientes h2 {
    color: white;
}

.clientes div img {
    width: 160px;
    height: 150px;
}

.clientes .tarjeta-clientes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.clientes .tarjeta-clientes div {
    border: 1px solid rgb(8, 8, 8);
    background-color: aliceblue;
    box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.75);
    text-align: center;
    width: 165px;
    height: 252px;
    margin: 5px;
    padding: 1px;
    margin-top: 40px;
}

.grid-clientes {
    display: grid;
    grid-template-columns: (4, 0.25fr);
    margin-top: 70px;

}

@media screen and (max-width: 360px) {
    .grid-clientes {
        grid-template-columns: 1fr;
        gap: 10px;
    }
}


.grid-clientes div img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    gap: 10px;
    flex-wrap: wrap;
    
}

.grid-clientes div {
    position: relative;
}

.img-1 {
    grid-column: 1;
}

.img-2 {
    grid-column: 2;
}

.img-3 {
    grid-column: 3;
}

.img-4 {
    grid-column: 4;

}

.clientes a {

    padding: 1px;
    margin-top: 30px;
    text-decoration: underline;
    color: rgb(255, 255, 255);
    font-size: x-large;
    font-weight: 500;
}

.clientes a:hover {
    color: rgb(255, 0, 191);
}

.clientes h1 {
    color: white;
    text-align: center;
}

@media screen and (max-height: 720px) and (max-width: 360px) {

 .tarjeta-clientes div {
        flex-direction: column;
        width: 100%;
        margin: 10px;
        align-items: center;
        gap: 10px
    }
}    

.nosotros {
    box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.75);
    padding: 5px;
    text-decoration: none;
    color: rgb(252, 250, 250);
    font-size: x-large;
    font-weight: 500;
    background: linear-gradient(161deg, #5455a2 0%, #000000 80%);
    background: -webkit-linear-gradient(161deg, #5455a2 0%, #000000 80%);
    background: -moz-linear-gradient(161deg, #5455a2 0%, #000000 80%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 10px;
}
.nosotros h1 {
    color: white;
    text-align: start;
    flex-direction: row;
}

.nosotros div img {
    display: block;
    flex-direction: row-reverse;
}
.nosotrosh2 {
    box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.75);
    padding: 5px;
    text-decoration: none;
    color: rgb(252, 250, 250);
    font-size: x-large;
    font-weight: 500;
    background: linear-gradient(161deg, #5455a2 0%, #000000 80%);
    background: -webkit-linear-gradient(161deg, #5455a2 0%, #000000 80%);
    background: -moz-linear-gradient(161deg, #5455a2 0%, #000000 80%);
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 20px;
    
}
.nosotrosh2 h2 {
    color: white;
    text-align: start;
    margin-top: 10px;
}

.nosotrosh2 div a {
    padding: 1px;
    margin-top: 30px;
    text-decoration: underline;
    color: rgb(255, 255, 255);
    font-size: x-large;
    font-weight: 500;

}

.nosotrosh2 div a:hover {
    color: rgb(255, 0, 191);
}

@media (max-width: 360px) and (max-height: 720px) {
.nosotrosh2 h2 {
    font-size: small; 
    text-align: center;
}

.nosotrosh2 a {
    font-size: small; 
    text-align: center;
    flex-direction: column;
}
.nosotros h1 {
    font-size: small;
}
.nosotros div img {
    flex-direction: column-reverse;
    width: 190px;
}
}
.contacto {
    background: linear-gradient(161deg, #5455a2 0%, #000000 80%);
    background: -webkit-linear-gradient(161deg, #5455a2 0%, #000000 80%);
    background: -moz-linear-gradient(161deg, #5455a2 0%, #000000 80%);
    overflow: hidden;
}

.contacto h1 {
    color: white;
    font-size: xx-large;
}


.contacto label {
    color: white;
}

@media (max-width: 360px) and (max-height: 720px) {


    .contacto h1 {
        font-size: small; 
    }

    .contacto h2 {
        font-size: small;
    }

  
    .contacto label {
        font-size: small; 
    }

    .contacto div img {
        flex-direction: column;
        width: 300px;
        margin: 10px 10px 10px 10px;

    }
}    

.fixed {
    position: fixed;
    bottom: 60px;
    right: 60px;
}

.fixed img {
    width: 60px;
}

@media screen and (max-height: 720px) and (max-width: 360px) {
  
    .fixed img {
        width: 30px;
        height: 30px;
        height: auto;
    }
}


footer {
    background: #5455a2;
    background: linear-gradient(215deg, #5455a2 0%, #000000 80%);
    background: -webkit-linear-gradient(215deg, #5455a2 0%, #000000 80%);
    background: -moz-linear-gradient(215deg, #5455a2 0%, #000000 80%);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 20px 10px;

}

footer div img {
    width: 50px;
    height: 50px;
    padding: 0px;
    margin: 30px 30px 30px 30px;
}

footer iframe {
    width: 200px;
    display: block;
}

footer img {
    width: 250px;
    padding: 0px;
}

@media screen and (max-height: 720px) and (max-width: 360px) {

    footer {
        flex-direction: column;
        align-items: center;
        padding: 15px;
    }

    footer img {
        width: 180px;
        margin: 10px;
    }
}


footer .servicios1 div img {
    width: 50px;
    margin-top: 10px;
    padding: 0px;
}

footer .nosotros1 div img {
    width: 50px;
    margin-top: 10px;
    padding: 0px;
}

footer .contacto1 div img {
    width: 50px;
    margin-top: 10px;
    padding: 0px;
}

footer .clientes1 div img {
    width: 50px;
    margin-top: 10px;
    padding: 0px;
}