@media screen and (max-width: 360px) and (max-height: 720px) {

    header nav ul {
        flex-direction: column;
        align-items: start;
        justify-content: space-around;
        padding-left: 100px;
    }

    header nav ul li {
        width: 100%;
    }

}

@media screen and (max-height: 720px) and (max-width: 360px) {
    header {
        max-height: fit-content;
        padding: 10px;
        display: flex;
        justify-content: center;
        text-align: justify;
    }
}

@media screen and (max-height: 720px) and (max-width: 360px) {

    .hero {
        background-size: cover;
        background-position: center;
        text-align: center;
    }

    .hero h1 {
        font-size: 20px;
    }

    .hero h2 {
        font-size: 16px;
    }

    .hero p {
        font-size: 14px;
    }
}

@media screen and (max-height: 720px) and (max-width: 360px) {


    .servicios .tarjeta div {
        display: flex;
        justify-content: space-between;
        align-items: top;
        flex-wrap: wrap;
        text-align: center;
        flex-direction: column;
    }

}

@media screen and (max-width: 360px) {
    .grid-clientes {
        display: flex;
        grid-template-columns: repeat(4, 1fr);
        gap: -0.5px;
        max-width: 100%;
        flex-direction: column;
        padding: 5px;
        justify-content: center;
        align-items: center;

    }
}

@media screen and (max-height: 720px) and (max-width: 360px) {

    .tarjeta-clientes div {
        flex-direction: column;
        margin: 10px;
        align-items: center;
        gap: 10px
    }
}




@media (max-width: 360px) and (max-height: 720px) {
    .nosotrosh2 h2 {
        font-size: small;
        text-align: center;
    }

    .nosotrosh2 a {
        font-size: small;
        text-align: center;
        flex-direction: column;
    }

    .nosotros h1 {
        font-size: small;
    }

    .nosotros div img {
        flex-direction: column-reverse;
        width: 190px;
    }
}

@media (max-width: 360px) and (max-height: 720px) {


    .contacto h1 {
        font-size: small;
    }

    .contacto h2 {
        font-size: small;
    }


    .contacto label {
        font-size: small;
    }

    .contacto div img {
        flex-direction: column;
        width: 100%;
        margin: 10px 10px 10px 10px;

    }
}

@media screen and (max-height: 720px) and (max-width: 360px) {

    .fixed img {
        width: 30px;
        height: 30px;
        height: auto;
    }
}

@media screen and (max-height: 720px) and (max-width: 700px) {

    footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: space-around;
        padding: 15px;
        overflow-x: hidden;
        position: relative;
    }

    footer img {
        width: 180px;
        margin: 10px;
    }

    footer iframe {
        width: 180px;
        height: 180px;
    }
}